/data
/venv
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.git_old
classifier/data/**
!classifier/data/.gitkeep
classifier/artifacts/**
!classifier/artifacts/.gitkeep
classifier/logs/**
!classifier/logs/.gitkeep